@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

#header {
    font-size: 1.5em;
    padding-bottom: 15px;
}

.offer {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: space-around;
    padding: 15px;
    height: 450px;
}

.offer .MuiFormControl-root {
    width: 250px;
    margin-bottom: 30px;
}

.offer .MuiInputBase-input {
    width: 50px;
    text-align: center;
}


.offer .MuiFormLabel-root {
    color: #2196F3;
}
.offer .MuiOutlinedInput-notchedOutline {
    border-color: #2196F3;
}

.offer .buttons {
    color: #2196F3;
}

.submit{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 300px;
    
}

.offer .MuiFab-root {
    background-color: #2196F3;
}

.MuiFab-root span {
    color: white;
}

.offer .MuiButton-root {
    background-color: #2196F3;
}

.submit span {
    color: white;
}

.add-photo-text {
    display: inline-block;
    padding: 0 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.how-many-text {
    display: inline-block;
    padding-right: 20px;
}

#guests {
    margin-bottom: 30px;
}

#add-photo {
    margin: 80px auto;
}

